<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="laptop-1lo8u7ln\sqlexpress.QL_QUANKARAOKE.dbo" connectionString="XpoProvider=MSSqlServer;data source=LAPTOP-1LO8U7LN\SQLEXPRESS;user id=;password=;initial catalog=QL_QUANKARAOKE;Persist Security Info=true" />
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
        <supportedRuntime version="v1.1"/>
    </startup>
</configuration>